body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 55px;
    
  }
    #img{
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    position: absolute;

    }
   #img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   }

.carousel{
    position: relative;
    width: 600px;
    height: 500px;
    border-radius: 90px;
    overflow: hidden;
    border: 5px solid darkolivegreen;
    box-shadow: 5px 4px black;
}

.slide{
    display: none;
    width:100%;
    height: 100%;
    
}

.slide.active{
    display: block;

}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(75, 94, 75);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 2px 4px black;
    text-shadow: 2px 2px black;

}

.prev{
    left: 15px;
}
.next{
    right: 15px;
}
