.parent{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	margin: auto;
}

#child2{
	display: flex;
	list-style-type: none;
   
}
#child2 li{
	padding: 0px 10px;
}

#pop{
	font-size: 60px;
}

#pops{
	font-size: 30px;
}

#button{
	background-color: orange;
	width: 150px;
	height: 50px;


}

#child4{
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}

#you{
	width: 300px;
	position: absolute;
	display: flex;
	justify-content: space-around;
}

.parent{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	margin: auto;
    height: 10vw;
}

#parent2{
	display: flex;
	height: 90vh;
	width: 90vw;
	margin: auto;
}

#child4{
	width: 95%;
	display: flex;
	justify-content: right;
	align-items: center;
}
 #pic{
 	width: 300px;
 	position: absolute;
 	display: flex;
 	justify-content: space-between;
 	background-color: lavender;
 	border-radius: 60%;
 	margin: 50px;

 }
 
