#body{
    background-color: bisque;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    /* text-shadow: 2px 5px plum; */
}

.container{
    background-color:wheat;
    padding : 45px;
    border-radius: 60px;
    border-style: dotted;
    box-shadow: 0 0 10px goldenrod;
}


 #heading{
    text-shadow: 2px 3px rgb(138, 116, 138);
    padding-left: 10px;
    font-size: 2.6rem;
 } 

 #taskinput{
    border-radius: 8px;
    padding-left: 40px;
    border-style: dashed;
    /* padding: 3px; */
    background-color: antiquewhite;
 }
 
 #btn{
    border-radius: 10px;
    padding: 3px;
    background-color: burlywood;
    
 }