body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
}
.rose{
    position: relative;
    width: 120px;
    height: 120px;
}

.petal{
    position: absolute;
    width: 60px;
    height: 80px;
    background: crimson;
    border-radius: 50% 50% 0 0;
    top: 40px;
    left: 20px;
    transform-origin: bottom center;
    transform: scale(0);
    transition: transform 1s ease;
}

.p1{
    transform: rotate(0deg) scale(0);
}
.p2{
    transform: rotate(0) scale(45deg);
}
.p3{
    transform: rotate(-45deg) scale(0);
}
.p4{
    transform: rotate(90deg) scale(0);
}

.center{
    position: absolute;
    width: 30px;
    height: 30px;
    background: darkred;
    border-radius: 50%;
    top: 60px;
    left: 45px;
    z-index: 10;
}
.stem{
    position: absolute;
    width: 8px;
    height: 140px;
    background: green;
    top: 100px;
    left: 56px;
}

.rose.bloom .peral{
    transform: scale(1);
}


.p1{ transition-delay: 0s;}
.p2{transition-delay: 0.2s;}
.p3{transition-delay: 0.4s;}
.p4{transition-delay: 0.6s;}
